<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Car_Rental_Management_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Car_Rental_Management_System.Properties.Settings.Car_Rental_SystemConnectionString"
            connectionString="server=DESKTOP-JP4JV6V;uid=sa;pwd=Abc@123;Database=CarRentalSystems;Connect Timeout=3000;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<applicationSettings>
        <Car_Rental_Management_System.Properties.Settings>
                <setting name="ConStr" serializeAs="String">
                        <value>server=116.202.175.92;uid=tmpUser;pwd=qG2~dv00;Database=tmpCarMangDB;Connect Timeout=3000;</value>
                </setting>
        </Car_Rental_Management_System.Properties.Settings>
    </applicationSettings>
</configuration>
